

body {
    width:100%;
    height:100vh;
    background-color:aliceblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left:20px;
    padding-right:20px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.navbar {
    width: 100%;
    display: flex;
    top: 0;
    padding: 10px 0px;
    background-color: grey;
    font-size: 18px;
}

.container1{
    width:50%;
    margin:auto;
    padding: 15px 15px;
    border-radius:5px;
    border:2px solid grey;
   
}

.imp{
    width:100%;
    display:flex;
   
}


    .imp ul{
        margin-right: 10px;
    }

    .imp ul li {
        margin-right: 10px;
        list-style-type: none;
    }
.imp ul li a{
    text-decoration:none;
    color:white;
    font-weight:700;
}

.navbar-brand {
    font-weight:Bold;

}


/* Set width on the form input elements since they're 100% wide by default */
    input, select, textarea {
    max-width: 280px;
}


